<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>221538782728-evmdtj3mqf502821g017v5uknhe2mhg2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.221538782728-evmdtj3mqf502821g017v5uknhe2mhg2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>221538782728-c5jpv1jkahhicsnsljroquij154nd2h6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDPpwolJa27GNtFMX-nQKmPV-SvQsSRWPk</string>
	<key>GCM_SENDER_ID</key>
	<string>221538782728</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>startup.index</string>
	<key>PROJECT_ID</key>
	<string>test1-e2af7</string>
	<key>STORAGE_BUCKET</key>
	<string>test1-e2af7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:221538782728:ios:0c7d7c875055c31da88bbd</string>
</dict>
</plist>